body{
    font-family: 'Work Sans', sans-serif;
}
/* header section */
nav{
    display: flex;
    align-items: center;
    gap: 390px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-heaader{
    display: flex;
    justify-content:left;
    align-items: center;
    gap: 20px;
    margin-left: 240px;
}
nav img{
    width: 86px;
    height: 40px;
}
.nav-texts, .nav-texts ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
.nav-texts{
    margin-right: 240px;
    justify-content: right;
    color: #3C354F;
    font-weight: 500;
}
.button{
    text-align: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    color: #3C354F;
    font-weight: 500;
    width: 200px;
    height: 56px;
}
/* banner section */
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.banner-text{
    text-align: left;
    background-image: url(../images/Group14.png);
    width: 720px;
    height: 682px;
}
.banner-text h2{
    color: #0B0223;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 148px;
    margin-bottom: 0px;
}
.banner-text h1{
    text-align: center;
    font-size: 5.93rem;
    font-weight: 800;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-text p{
color: #534C64;
text-align: center;
font-size: 1.25rem;
font-weight: 500;
}
.button1{
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: 0px;
    padding: 21px 40px;
    margin-left: 140px;
    margin-right: 20px;
}
.button2{
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 48px;
    background: #4EC5F7;
    border: 0px;
    padding: 21px 40px;
}

/* long-section */
.long-section{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
/* online games section */

.online-games{
    padding: 50px 0px;
    margin: 0px 0px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.online-games-header{
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;   
    margin-bottom: 20px;
    margin-top: 0px;

}
.online-games-header span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.online-games-description{
    color: #534C64;
    text-align: center;
    font-weight: 400;
}
.online-games-img{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border-radius: 18px;
    padding-top: 30px;
    margin-left: 180px;
    margin-right: 180px;
}
.online-games-img div{
    text-align: left;

}
.online-games-img div img, .online-games-img div p{
    width: 230px;
}
/* game-logos section */
.game-logos{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 50px;
}
.game-logos-img1{
    margin: 0px 130px;
}
.game-logos-img2{
    margin: 0px 160px;
}
.game-logos-img1 >div{
    margin: 50px 0px;
}
.game-logos-img2 >div{
    margin-bottom: 50px;
}
.game-logos-img1 div,.game-logos-img2 div{
    display: flex;
    border-radius: 50px;
    background: #FFF;
}
.img1:hover, .game-logos-img2 div:hover{
    border: 1px solid pink;
    color: pink;
}
/* .game-logos-img1 p:hover, .game-logos-img2 p:hover{

} */
.game-logos-img1 div img, .game-logos-img2 div img{
    width: 40px ;
    margin-right: 15px;
}
.game-logos-img1 p, .game-logos-img2 p{
    color: #0B0223;
    font-size:1.25rem;
    font-weight: 600;
}
.game-logos-img1, .game-logos-img2{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

/* Play instantly */
.play{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 00px 130px;
}
.play-instantly{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 50px 0px;
}
.play-text-header{
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
}
.play-text-description{
    color: #534C64;
    text-align: right;
    font-size: 1.25rem;
    font-weight: 400;
    width: 350px;
}
.play-text{
    width: 350px;
}
.play-img img{
    border-radius: 8px;
    width: 400px;
}
/* .play-img1{
    position: relative;
    width: 250px;
    bottom: 250px;
    left: 600px;
} */
.play-img1{
    position: absolute;
    width: 250px;
    bottom: -1330px;
    left: 600px;
}
/* footer section */
.footer{
    background-color: #0B0223;
    color: #FFFFFF;
}
.footer-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.footer-header img{
    width: 86px;
    height: 40px;
}
span{
    color: #FF42A5;
}
.footer-header-text{
    font-size: 2.8rem;
    font-weight: 700;
}
.footer-bar1 ul{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 60px;
    list-style: none;
    font-weight: 600;
}
.footer-icon{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.t{
    width: 40px;
    height: 40px;
}
.footer-bar ul{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 60px;
    list-style: none;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.60);
}

.copyright{
    padding: 10px;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}